<div class="row">
    <div class="col-12">
        <div class="breadcrumb p-2">
            <div class="col-2">
                <select
                    (change)="pickTypeTeam($event.target)"
                    class="form-control form-control-sm"
                >
                    <option value="0">TIPO DE EQUIPO</option>
                    <option value="1">SELECCION</option>
                    <option value="2">CLUB</option>
                </select>
            </div>
            <div *ngIf="typeTeam === '1'; then national else none"></div>
            <div *ngIf="typeTeam === '2'; then club else none"></div>
            <ng-template #national>
                <div class="col-2">
                    <select (change)="onFilterCountry($event.target)" class="form-control form-control-sm">
                        <option selected value="0">FEDERACION</option>
                        <option *ngFor="let f of federations" value="{{f.alias}}">{{f.alias}}</option>
                    </select>
                </div>
            </ng-template>
            <ng-template #club>
                <div class="col-2">
                    <select (change)="onFilterLeague($event.target)" class="form-control form-control-sm">
                        <option selected value="0">FEDERACION</option>
                        <option *ngFor="let f of federations" value="{{f.alias}}">{{f.alias}}</option>
                    </select>
                </div>
                <div class="col-2">
                    <select
                        (change)="onFilterClub" class="form-control form-control-sm"
                    >
                        <option value="">LIGA</option>
                        <option *ngFor="let l of leagues" value="{{l.name}}">{{l.name}}</option>
                    </select>
                </div>
            </ng-template>
            <ng-template #none>

            </ng-template>
        </div>
    </div>
</div>
<div *ngIf="tournament.nGroups !== 0; then showGroups else nogroups"></div>

<ng-template #showGroups>
    <div class="row row-cols-1 row-cols-md-4">
        <div *ngFor="let g of groups | filterTournament:tournament.name" class="col mb-3">
            <div class="card">
                <div class="card-header pt-2 pb-2">
                    <h6>{{g.name}}</h6>
                </div>
                <div class="card-body p-0">
                    <ul *ngFor="let t of teams | filterGroup:g.name | filterTournament:tournament.name"
                        class="list-group">
                        <li class="list-group-item border-0">
                            <div class="card m-auto">
                                <div class="card-body p-2">
                                    <div style="display: inline-block; margin-right: 10px"><img
                                        src="{{t.flagUrl}}" width="30"></div>
                                    <div style="display: inline-block;"><h6>{{t.teamName}}</h6></div>
                                    <div *ngIf="typeTeam === '1'; then national"></div>
                                    <div *ngIf="typeTeam === '2'; then club"></div>
                                    <ng-template #national>
                                        <select
                                            (change)="updateTeamGroups($event.target, t)"
                                            class="form-control form-control-sm mt-2"
                                            name="{{t.id}}"
                                        >
                                            <option value="0">Seleccionar</option>
                                            <option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</option>
                                        </select>
                                    </ng-template>
                                    <ng-template #club>
                                        <select
                                            (change)="updateTeamGroups($event.target, t)"
                                            class="form-control form-control-sm mt-2"
                                            name="{{t.id}}"
                                        >
                                            <option value="0">Seleccionar</option>
                                            <option *ngFor="let c of clubs" value="{{c.id}}">{{c.name}}</option>
                                        </select>
                                    </ng-template>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #nogroups>
    <div class="row">
        <div class="col-4">
            <ul *ngFor="let t of teams | filterTournament:tournament.name"
                class="list-group">
                <li class="list-group-item border-0">
                    <div class="card m-auto">
                        <div class="card-body p-2">
                            <div style="display: inline-block; margin-right: 10px"><img
                                src="{{t.flagUrl}}" width="30"></div>
                            <div style="display: inline-block;"><h6>{{t.teamName}}</h6></div>
                            <select
                                (change)="updateTeamFinals($event.target, t)"
                                class="form-control form-control-sm mt-2"
                                name="{{t.id}}"
                            >
                                <option value="0">Seleccionar</option>
                                <option *ngFor="let c of countries" value="{{c.id}}">{{c.name}}</option>
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ng-template>


