<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header">
                <h6>Editar Pais</h6>
            </div>
            <div class="card-body">
                <form (ngSubmit)="update()">
                    <div class="form-group">
                        <label for="lbl-name">Nombre:</label>
                        <input
                            [(ngModel)]="country.name"
                            class="form-control"
                            id="lbl-name"
                            name="name"
                            type="text"
                        >
                    </div>
                    <div class="form-group">
                        <label for="lbl-alias">Alias:</label>
                        <input
                            [(ngModel)]="country.alias"
                            class="form-control"
                            id="lbl-alias"
                            name="alias"
                            type="text"
                        >
                    </div>
                    <div class="form-group">
                        <label for="lbl-federation">Federación:</label>
                        <select
                            [(ngModel)]="country.federation"
                            class="form-control"
                            id="lbl-federation"
                            name="federation"
                        >
                            <option selected value="{{country.federation}}">{{country.federation}}</option>
                            <option *ngFor="let f of federations" value="{{f.alias}}">{{f.alias}}</option>
                        </select>
                    </div>
                    <button
                        class="btn btn-primary btn-block"
                        type="submit"
                    >
                        Actualizar
                    </button>
                    <button
                        (click)="back()"
                        class="btn btn-outline-info btn-block"
                        type="button"
                    >
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
