<div class="row">
    <div class="col-6">
        <div class="card">
            <h6 class="card-header">Editar template</h6>
            <div id="newTemplate" class="card-body">
                <p>Partidos Seleccionados:</p>
                <ul class="list-group" *ngFor="let tm of templateMatches">
                    <li class="list-group-item item mb-2 pt-0 pb-0">
                        <div class="form-inline float-left pt-0">
                            <p class="mr-2 pt-3">{{tm.homeTeamAlias}}</p>
                            <img alt="" class="mr-3" height="30" src="{{tm.homeTeamFlag}}" width="30">
                            <p class="mr-3 pt-3 font-weight-bold">Vs</p>
                            <img alt="" class="mr-2" height="30" src="{{tm.visitTeamFlag}}" width="30">
                            <p class="pt-3 mr-4">{{tm.visitTeamAlias}}</p>
                            <p class="pt-3">{{tm.startDate.toDate() | date:'d/M/yy - HH:mm'}}</p>
                        </div>
                        <button (click)="delete(tm.id)" class="btn btn-danger btn-sm float-right mt-2" type="button">
                            Quitar
                        </button>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form [formGroup]="form">
                    <div class="form-row">
                        <div class="col">
                            <p>MVP</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="mvp" name="mvp" placeholder="MVP" type="text"
                                formControlName="mvp" value="{{template.mvp}}">
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col">
                            <p>Goleador</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control" id="maximumScorer" name="goleador" placeholder="Goleador"
                                type="text" formControlName="maximumScorer" value="{{template.maximumScorer}}">
                        </div>
                    </div>


                    <div class="form-row mt-3">
                        <div class="col">
                            <p>Campeón </p>
                        </div>
                        <div class="col-8">
                            <select formControlName="champion" id="champion" class="form-control" value="{{template.championId}}">
                                <option *ngFor="let c of clubsAndCountries" value="{{c.id}}">{{c.name}}</option>
                            </select>
                        </div>
                 </div>
            </form>
            <br>
            <button class="btn btn-primary btn-block" (click)="saveForm()">
                Guardar
            </button>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="card">
        <h6 class="card-header">Partidos Sueltos</h6>
        <div id="listMatches" class="card-body">
            <ul *ngFor="let m of matches" class="list-group">
                <li class="list-group-item item mb-2 pt-0 pb-0">
                    <button (click)="addList($event, m, codeTemplate)" class="btn btn-success btn-sm float-left mt-2"
                        type="button">
                        Seleccionar
                    </button>
                    <div class="form-inline float-right pt-0">
                        <p class="mr-2 pt-3">{{m.homeTeamAlias}}</p>
                        <img alt="" class="mr-3" height="30" src="{{m.homeTeamFlag}}" width="30">
                        <p class="mr-3 pt-3 font-weight-bold">Vs</p>
                        <img alt="" class="mr-2" height="30" src="{{m.visitTeamFlag}}" width="30">
                        <p class="pt-3 mr-4">{{m.visitTeamAlias}}</p>
                        <p class="pt-3">{{m.startDate.toDate() | date:'d/M/yy - HH:mm'}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>