<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header">
                <h6>Editar Liga</h6>
            </div>
            <div class="card-body">
                <form (ngSubmit)="update()">
                    <div class="form-group">
                        <label for="lbl-name">Nombre:</label>
                        <input
                            [(ngModel)]="league.name"
                            class="form-control"
                            id="lbl-name"
                            name="name"
                            type="text"
                        >
                    </div>
                    <div class="form-group">
                        <label for="lbl-country">Pais:</label>
                        <select
                            [(ngModel)]="league.country"
                            class="form-control"
                            id="lbl-country"
                            name="country"
                        >
                            <option selected value="{{league.country}}">{{league.country}}</option>
                            <option *ngFor="let c of countries" value="{{c.name}}">{{c.name}}</option>
                        </select>
                    </div>
                    <button
                        class="btn btn-primary btn-block"
                        type="submit"
                    >
                        Actualizar
                    </button>
                    <button
                        (click)="back()"
                        class="btn btn-outline-info btn-block"
                        type="button"
                    >
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

